html {
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  background-color: hsl(216, 50%, 16%);
}

figure {
  position: relative;
}

figure img {
  border-radius: 0.5rem;
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  margin-top: 0.6rem;
  font-size: 1.01rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: hsl(215, 51%, 70%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: color 200ms ease-in-out;
}

a:hover {
  color: hsl(178, 100%, 50%);
}

footer {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.5rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  text-align: center;
}

footer a {
  font-weight: 400;
  text-decoration: none;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: translateY(-280px);
  background-color: hsla(178, 100%, 50%, 50%);
  border-radius: 0.5rem;
  opacity: 0%;
  transition: opacity 200ms ease-in-out;
}

.view img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-24px, -24px);
}
.view:hover {
  opacity: 100%;
}

.description {
  display: flex;
  flex-direction: column;
}

.description__details {
  margin-top: 0.9rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}

.description__details--price,
.description__details--countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description__details--price img,
.description__details--countdown img {
  padding-right: 0.5rem;
}

.description__details--price {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.description__details--countdown {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.artist {
  padding-top: 1rem;
  color: hsl(215, 51%, 70%);
  border-top: 0.5px solid hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
}

.artist p {
  margin-top: 0;
  font-size: 0.95rem;
  font-weight: 400;
}

.artist img {
  margin-right: 1rem;
  display: inline-block;
  height: 2.1rem;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
